 <table class="table">
          <thead>
            <tr>
              <th>ID</th>
              <th>Title</th>
              <th>Link</th>
              <th>Description</th>
            </tr>
          </thead>
          <tbody>

            <tr *ngFor="let x of xmlItems ;let j=index">
              <td>{{x?.title}} </td> <span id="title"></span>
              <td>{{x?.link}}</td> <span id="link"></span>
              <td>{{x?.description}}</td> <span id="description"></span>
            </tr>
          </tbody>
        </table>

 <script>

     let xmlhttp, xmlDoc;
     xmlhttp = new XMLHttpRequest();
     xmlhttp.open("GET", "feeds.xml", false);
     xmlhttp.send();
     xmlDoc = xmlhttp.responseXML;
     document.getElementById("title").innerHTML=
     xmlDoc.getElementsByTagName("title")[0].childNodes[0].nodeValue;
     document.getElementById("link").innerHTML=
     xmlDoc.getElementsByTagName("link")[0].childNodes[0].nodeValue;
     document.getElementById("description").innerHTML=
     xmlDoc.getElementsByTagName("description")[0].childNodes[0].nodeValue;
 </script>




