<h1 style="font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;"> 
  RSS Feed Reader
</h1>
<br>
<!-- This is a comment -->
<body>
  <img src="https://t4.ftcdn.net/jpg/02/98/09/11/360_F_298091101_PcBerbSOrYDSlto8RylsGQofCEfUQKcf.jpg">
  <i><br>
    Welcome to {{title}} </i>
<br>
<br>
<br>

 
    <ul>    
      <li routerLinkActive="active">
         <a [routerLink]="['/search']">Search</a> <!-- burda search component kısmına gidiyor-->
      </li>
      <li routerLinkActive="active">
        <a [routerLink]="['/xml']">xml</a> <!-- burda xml component kısmına gidiyor-->
     </li>
     

    </ul>
    <router-outlet></router-outlet> <!--router-outlet tells the router where to display routed views.-->
  
 
 
</body>






   