
<form id="form" action="" method="get" autocomplete="on" novalidate> <!-- buraya sumbite basıldıktan sonra hangi sayfaya gideceğini action2ın içine yazıyoruz -->

    <label for="homepage">Enter an URL:</label>
    <input type="url" id="homepage" name="homepage" placeholder="Search for a link" required>
    <input type="submit" value="Search">
  </form>

    <script>
    function submitted(){
        window.addEventListener("sonunda artık");
      
    }
    </script>
  
  <div class="row">
      
    <app-search-result
      *ngFor="let result of results"
      [result]="result">
    </app-search-result>
  </div>

